.searchComponent__container {
  display: grid;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
}

.searchComponent__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.searchComponent_description {
  text-align: center;
  font-weight: lighter;
}

.searchComponent_form {
  display: grid;
  grid-template-rows: auto 300px;
  grid-column-gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.searchComponent__list {
  padding: 5px 0;
  grid-column-start: 1;
  overflow: scroll;
  grid-column-end: 3;
}

.SearchComponent_ratebutton {
  margin-bottom: 10px;
}

/* normalize */
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
