.searchComponent__container {
  display: grid;
  height: 100vh;
}

.searchComponent__title {
  text-align: center;
  /* background: repeating-linear-gradient(
    45deg,
    white,
    white 10px,
    black 10px,
    black 11px
  ); */
  /* background: linear-gradient(
    to left bottom,
    hsl(138, 100%, 85%) 0%,
    hsl(231, 100%, 85%) 100%
  ); */
}

.searchComponent_description {
  text-align: center;
}

.searchComponent_form {
  display: grid;
  grid-template-rows: auto 300px;
  grid-template-columns: 1fr 1fr;
}

.searchComponent__list {
  grid-column-start: 1;
  overflow: scroll;
  grid-column-end: 3;
}

/* normalize */
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
